<!doctype html>
<html>

<head>
  <!-- Set character encoding for the document -->
  <meta charset="utf-8">
  <!-- Instruct Internet Explorer to use its latest rendering engine -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Viewport for responsive web design -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <!-- Document Title -->
  <title><%= projectName %></title>
  <!-- Meta Description -->
  <meta name="description" content="<%= projectDesc %>" />
  <!-- Meta Keywords -->
  <meta name="keywords" content="" />
  <!-- Standard favicon -->
  <!-- <link rel="icon" type="image/x-icon" href="https://example.com/favicon.ico"> -->
  <!-- Recommended favicon format -> dimensions: 32x32px -->
  <!-- <link rel="icon" type="image/png" href="https://example.com/favicon.png"> -->
  <!-- Apple Touch Icon -->
  <!-- <link rel="apple-touch-icon" href="/custom-icon.png"> -->
  <!-- Helps prevent duplicate content issues -->
  <!-- <link rel="canonical" href="http://example.com/2017/09/a-new-article-to-red.html"> -->
</head>

<body>

  <div class="box">DEMO</div>

</body>

</html>
